body {
    background-color: darkgray;
}
.container-relatorys {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.relatory {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}

.comentario {
    font-style: italic;
}

.nota {
    font-weight: bold;
}