body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
  }
  
  h1 {
    color: #333;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
  }

.daily-report {
    display: none;
}  
.seller-id-name {
    font-size: larger;
}
span {
    font-weight: 600;
}